{% extends 'global/index.html' %}

{% block title %}Dashboard ({{ user }}) | {% endblock title %}

{% block content %}
    {% include 'global/partials/messages.html' %}
    <div class="main-content main-content-list container">
        {% for restaurant in restaurants %}
            {% include 'restaurant/partials/restaurant.html' %}
        {% empty %}
                <div class="center m-y">
                    <h1>No restaurants found here!</h1>
                </div>
        {% endfor %}
    </div>
{% endblock content %}
