<button class="button-show-menu button-show-menu-visible">
    <i class="fas fa-bars"></i>
    <span class="hidden-text">Show menu</span>
</button>  
  
<div class="menu-container menu-hidden">
    <button class="button-close-menu button-close-menu-visible">
      <i class="fas fa-times-circle"></i>
      <span class="hidden-text">Close menu</span>
    </button>  
    
    <div class="menu-content">
        <nav class="menu-nav">
          <a href="{% url 'restaurants:home' %}">Home</a>
    
          {% if user.is_authenticated %}
            <a href="{% url 'customers:dashboard' %}">Dashboard</a>
            <a class="customers-logout-link" href="{% url 'customers:logout' %}">Logout</a>
            {% include 'customers/partials/form_logout.html' %}
          {% else %}
            <a href="{% url 'customers:login' %}">Login</a>
            <a href="{% url 'customers:register' %}">Register</a>
        {% endif %}
        </nav>
      </div>
    </div>