{% include "restaurant/partials/head.html" %}
<body>
    {% include "restaurant/partials/header.html" %}
    {% include "restaurant/partials/search.html" %}

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            
            {% include "restaurant/partials/restaurant.html" %}
            {% include "restaurant/partials/restaurant.html" %}
            {% include "restaurant/partials/restaurant.html" %}
            {% include "restaurant/partials/restaurant.html" %}
            {% include "restaurant/partials/restaurant.html" %}
            
        </div>
    </main>
    {% include "restaurant/partials/footer.html" %} 
</body>