:root {
    --color-primary: #269fe6;
    --color-primary-hover: #2086c2;
    --color-primary-dark: #13141f;
    --color-primary-dark-hover: #212336;
    --color-primary-light: #d4ecfa;
    --color-primary-light-hover: #bdd8e7;
    --color-primary-dark-red: #640214;
    --color-red-time: #B40404;

    --color-white: #fff;
    --color-black: #000;

    --color-dark-text: #444;
    --color-info-light: #cce5ff;
    --color-debug-light: #cce5ff;
    --color-success-light: #d4edda;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;

    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;
    --color-type-rest: #0174DF;

    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #D8D9D3;
    --color-gray-3: #c7c7c7;
    --color-gray-4: #aeaeae;
    --color-gray-5: #959595;
    --color-gray-6: #7d7d7d;
    --color-gray-7: #646464;
    --color-gray-8: #4b4b4b;
    --color-gray-9: #323232;
    --color-gray-10: #191919;

    --color-yellow-1: #F4FA58;
    --color-yellow-2: #F7FE2E;
    --color-yellow-3: #FFFF00;
    --color-yellow-4: #D7DF01;
    --color-yellow-5: #AEB404;

    --font-primary: sans-serif;
    --font-first-title: "Unna", serif;
    --font-second-title: "Libre Caslon Display", serif;


    --spacing-gutter-medium: 3rem;
    --spacing-gutter-large: 4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-primary);
    background: var(--color-gray-1);
    color: var(--color-dark-text);
}

.container {
    max-width: 144rem;
    margin: 0 auto;
    padding: var(--spacing-gutter-medium);
}

.main-header-container {
    background: var(--color-primary-dark-red);
}

.main-logo {
    text-decoration: none;
    font-family: var(--font-first-title);
    font-weight: 700;
    font-style: italic;
    font-size: 7.5rem;
    color: var(--color-white);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

.main-logo-icon {
    margin-right: 2rem;
}

.search-form {
    border: .2rem solid var(--color-primary-dark);
    max-width: 64rem;
    margin: 0 auto;
    border-radius: .4rem;
    position: relative;
    transition: all 300ms ease-in-out;
}

.search-input,
.search-button {
    border: none;
    background: none;
    outline: none;
    padding: 1rem;
    transition: all 300ms ease-in-out;
}

.search-input {
    width: 100%;
    padding-right: 3rem;
}

.search-button {
    position: absolute;
    top: 0;
    right: 0;
}

.search-button:focus {
    outline: 1px solid var(--color-primary);
    background: rgba(0, 0, 0, .05)
}

.search-form:focus-within {
    border-color: var(--color-primary);
    background: var(--color-white);
}

.search-form:focus-within .search-button {
    color: var(--color-primary);
}

.main-content {
    padding-top: 0;
}

.main-content-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: var(--spacing-gutter-large);
}

.restaurant {
    background: var(--color-white);
    box-shadow: -5px 5px 10px rgba(0, 0, 0, .2);
    transform: scale(1);
    transition: all 300ms ease-in-out;
    border-radius: .4rem;
    overflow: hidden;
}

.restaurant img {
    max-width: 100%;
}

.restaurant-list-item {
    max-width: 64rem;
    height: fit-content;
}

.restaurant-list-item:hover {
    transform: scale(1.02);
    box-shadow: -8px 8px 18px rgba(0, 0, 0, .25);
}

.restaurant-title-container {
    padding: var(--spacing-gutter-medium);
    padding-bottom: 2rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    font-size: 2.0rem;
}

.restaurant-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.restaurant-content {
    padding: var(--spacing-gutter-medium);
    padding-top: 2rem;
}

.restaurant-classification-item {
    margin: 0 auto;
}

.restaurant-type-item {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
}

.restaurant-time-item {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
}

.restaurant-time{
    margin: 1rem;
    margin-bottom: 2rem;
}

.restaurant-time-title {
    color: var(--color-red-time);
    font-size: 1.6rem;
}

.restaurant-type-item p {
    color: var(--color-primary);
    transition: all 300ms ease-in-out;
    text-decoration: none;
}

.restaurant-type-item p:hover {
    color: var(--color-primary-dark);
}

.type-item {
    color: var(--color-gray-9);
}

.restaurant-classification-item a {
    color: var(--color-primary-dark);
    transition: all 300ms ease-in-out;
    text-decoration: none;
}

.restaurant-classification-item a:hover {
    color: var(--color-yellow-4);
}

.classification-icon {
    color: var(--color-yellow-3);
}

.restaurant-meta-container {
    display: flex;
    flex-flow: row wrap;
    padding: var(--spacing-gutter-medium);
    background: var(--color-gray-1);
}

.restaurant-meta {
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 1;
    flex-grow: 1;
    text-align: center;
}

.restaurant-footer{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}

.restaurant-footer a {
    background: var(--color-primary-dark-red);
    display: block;
    color: var(--color-white);
    text-decoration: none;
    text-align: center;
    padding: 1.5rem var(--spacing-gutter-medium);
    transition: all 300ms ease-in-out;
}

.restaurant-footer a:hover {
    filter: brightness(2);
}

.main-footer {
    display: flex;
    align-items: center;
    justify-content: left;
    background: var(--color-primary-dark-red);
    color: var(--color-white);
    padding: var(--spacing-gutter-large);
}

.main-footer a {
    color: var(--color-white);
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.main-footer a:hover {
    filter: brightness(.8);
}

.icon-footer{
    font-size: 6.5rem;
}

.main-content-detail  .restaurant-list-item {
  max-width: 84rem;
  margin: 0 auto;
}

.main-content-detail .restaurant-list-item:hover {
  transform: scale(1);
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.2);
}

.restaurant-details {
  padding: var(--spacing-gutter-medium);
}

.restaurant-title-container a {
  text-decoration: none;
  color: var(--color-primary-dark);
}

.rating{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotateY(180deg);
  display: flex;
}

.rating input{
  display: none;
}

.rating label{
    display: block;
    cursor: pointer;
    width: 50px;
}

.rating label:before{
  content: '\f005';
  font-family: fontAwesome;
  position: relative;
  display: block;
  font-size: 50px;
  color: #0e1316;
}

.rating label:after{
  content: '\f005';
  font-family: fontAwesome;
  position: absolute;
  display: block;
  font-size: 50px;
  color: #ffff00;
  top: 0;
  opacity: 0;
  transition: .5;
  text-shadow: 0 4px 5px rgba(0, 0, 0, .5);
}
.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after{
  opacity: 1;
}

.avaliation-title{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;

}